virtualenv
addict
future
lmdb
pyyaml
requests
tb-nightly
tqdm
yapf
h5py
ipython
jupyterlab
matplotlib
wandb
setuptools==57.0.0
timm
click
yacs==0.1.8 
pytz==2021.1 
tensorboard==2.5.0 
opencv-python==4.5.2.54 
einops==0.3.2 
matplotlib

tensorboardX
yacs
opencv-python
fire    

scipy
scikit-image
numba
