# Metrics environment for transfer/evaluate_waymo.py (Python 3.9, CPU only).
# Exact package set used for the paper: pip install -r transfer/requirements-metrics.txt
absl-py==1.4.0
array_record==0.5.1
astunparse==1.6.3
cachetools==5.5.2
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.1.8
cloudpickle==3.1.2
contourpy==1.3.0
cycler==0.12.1
dacite==1.8.1
dask==2023.3.1
dataclass_array==1.5.1
decorator==5.3.1
dm-tree==0.1.8
einops==0.8.2
einsum==0.3.0
etils==1.5.2
flatbuffers==25.12.19
fonttools==4.60.2
fsspec==2025.10.0
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
idna==3.19
ImageIO==2.37.2
immutabledict==2.2.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
joblib==1.5.3
keras==2.12.0
kiwisolver==1.4.7
lark==1.3.1
lazy-loader==0.5
libclang==18.1.1
locket==1.0.0
Markdown==3.9
MarkupSafe==3.0.3
matplotlib==3.6.1
ml_dtypes==0.5.4
networkx==3.2.1
numpy==1.23.0
oauthlib==3.3.1
OpenEXR==1.3.9
opt_einsum==3.4.0
packaging==26.3
pandas==1.5.3
partd==1.4.2
Pillow==9.2.0
plotly==5.13.1
promise==2.3
protobuf==4.25.9
psutil==7.2.2
pyarrow==10.0.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
PyWavelets==1.6.0
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
six==1.17.0
tenacity==9.1.2
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-addons==0.23.0
tensorflow-cpu==2.12.1
tensorflow-datasets==4.9.3
tensorflow-estimator==2.12.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.3
tensorflow-probability==0.19.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2024.8.30
toml==0.10.2
toolz==1.1.0
tqdm==4.70.0
trimesh==4.12.2
typeguard==2.13.3
typing_extensions==4.5.0
urllib3==2.6.3
visu3d==1.5.1
waymo-open-dataset-tf-2-12-0==1.6.2
Werkzeug==3.1.8
wrapt==1.14.2
zipp==3.23.1
